* {
  box-sizing: border-box;
  color: #000000;
}

.contentbox {
  max-width: 1110px;
  margin: 0 auto;
}

.head {
  background-color: #eeeff1;
  padding: 79px;
}

.navbox {
  margin: 0 auto;
  padding: 0;
}

.navlist {
  display: inline-block;
  margin-right: 42px;
}

.navigation {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.navigation_home {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
  color: #34547a;
}

.titlebox {
  background-color: #eeeff1;
  padding: 62px;
}

.title {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

.title_text {
  max-width: 540px;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.feedback {
  margin: 5px 0;
  border: 0;
  border-radius: 0;
  background: #34547a;
  padding: 20px 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.descriptionbox {
  padding: 100px;
}

.description_title {
  margin: 0 auto 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.description {
  max-width: 540px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.list_bckgrnd {
  padding: 100px;
  background: #34547a;
}

.listbox {
  padding: 0;
}

.list {
  display: inline-block;
  /* width: 141px;
  height: 50px; */
}

.list_img {
  width: 50px;
  height: 50px;
}

.list_content {
  display: inline-block;
  margin: 0 20px;
}

.list_number {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  vertical-align: top;
}

.list_text {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  vertical-align: top;
}

